@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}
:root {
  --radius: 0.5rem;
  --background: oklch(1.00000 0.00000 0);
  --foreground: oklch(0.14100 0.00500 285.82300);
  --card: oklch(1.00000 0.00000 0);
  --card-foreground: oklch(0.14100 0.00500 285.82300);
  --popover: oklch(1.00000 0.00000 0);
  --popover-foreground: oklch(0.14100 0.00500 285.82300);
  --primary: oklch(0.86655 0.11907 165.66700);
  --primary-foreground: oklch(0.14100 0.00500 285.82300);
  --secondary: oklch(0.94548 0.00368 204.95940);
  --secondary-foreground: oklch(0.14100 0.00500 285.82300);
  --accent: oklch(0.94622 0.00906 148.48597);
  --accent-foreground: oklch(0.14100 0.00500 285.82300);
  --destructive: oklch(0.64784 0.17140 30.95993);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.97019 0.00121 170.58594);
  --muted-foreground: oklch(0.14100 0.00500 285.82300);
  --border: oklch(0.92704 0.00677 170.41337);
  --input: oklch(0.92704 0.00677 170.41337);
  --ring: oklch(0.86655 0.11907 165.66700);
}

.dark {
  --background: oklch(0.23132 0.01331 168.86210);
  --foreground: oklch(0.98500 0.00000 0.00000);
  --card: oklch(0.23132 0.01331 168.86210);
  --card-foreground: oklch(0.98500 0.00000 0.00000);
  --popover: oklch(0.20947 0.00871 169.37997);
  --popover-foreground: oklch(0.98500 0.00000 0.00000);
  --primary: oklch(0.69545 0.15342 159.35146);
  --primary-foreground: oklch(0.14100 0.00500 285.82300);
  --secondary: oklch(0.23684 0.03670 205.56804);
  --secondary-foreground: oklch(0.98500 0.00000 0.00000);
  --accent: oklch(0.24672 0.07658 144.62476);
  --accent-foreground: oklch(0.98500 0.00000 0.00000);
  --destructive: oklch(0.64784 0.17140 30.95993);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.28055 0.01773 168.67230);
  --muted-foreground: oklch(0.98500 0.00000 0.00000);
  --border: oklch(0.28744 0.01409 169.14110);
  --input: oklch(0.28744 0.01409 169.14110);
  --ring: oklch(0.69545 0.15342 159.35146);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}